body {
	padding-top: 10px;
	padding-bottom: 10px;
	display: grid;
	place-items: center;
}

table {
	width: 100%;
	margin-top: 20px;
	cursor: pointer;
}

.calculate {
	margin-top: 30px;
}

.my-container {
	width: 90% !important;
}

h2 {
	padding-bottom: 30px;
}

.bold {
	font-weight: 700;
}